:root {
    --header-color: #61ec9b;
    --header-bg-color: #9b61ec;
    --header-border-shadow-color:  rgba(141,74,233,0.5);

    --menu-bg-color: #a978ef;
    --menu-color: #61ec9b;
    --menu-shadow-border-color: rgba(154,97,236,0.5);

    --sidebar-bg-color: var(--menu-bg-color);
    --sidebar-shadow-border-color: var(--menu-shadow-border-color);
    --sidebar-color: var(--menu-color);

    --footer-bg-color: var(--header-bg-color);
    --footer-color: var(--header-color);
    --footer-shadow-border-color: var(--header-border-shadow-color);

    --body-font-family: 'IBM Plex Sans', sans-serif;
    --body-font-size: 14pt;
    --body-bg-color: #61ec9b;
    --body-color: #9b61ec;
}
